export(
    "DescriptionPartition",
    "Dissimil",
    "DissTot",
    "Cooccurrences",
    "ConsensusPartition",
    "RandIndex",
    "MdsDiss",
    "MdsDimChoice",
    "MdsSort",
    "plotMds",
    "plotTerms",
    "ReadSortFile",
    "SortingPartition"
)
exportMethods(
    "show",
    "summary",
    "nGroups",
    "getPartition",
    "getConfig",
    "getStress",
    "getPercent"
)
exportClasses(
    "SortingPartition",
    "SortingMds" 
)
importFrom(vegan,procrustes)
importFrom("graphics", "abline", "arrows", "lines", "plot", "symbols","text")
importFrom("stats", "as.dist", "cor", "cov", "cutree", "hclust")
importFrom("utils", "read.csv2")
importFrom(ellipse,ellipse)
import(methods, smacof)
